
html, body {
    height: 100%;
}

header {
    text-align: center;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: vertical;
}

.puzzle {
    position: absolute;
    display: block;
    margin: auto;
    overflow: auto;
    flex: 1;
    z-index:-1;
}

.arrangement {
    position: absolute;
    display: inline-block;
    z-index:0;
}

.piece {
    position: absolute;
    display: inline-block;
    z-index:1;
}

.message {
    position: fixed;
    z-index:2;
}