html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

header {
    height: auto;
    text-align: center;
}

footer {
    height:auto;
    font-size: 0.8em;
    text-align: center;
    color: brown;    
}

.container {    
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.puzzle {
    position: absolute;    
    margin: auto;
    overflow: auto;
    z-index:1;
}

.arrangement {
    position: absolute;
    z-index:2;
}

.piece {
    position: absolute;
    z-index:3;
}

.message {
    position: fixed;
    z-index:4;
}